

@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@600&family=My+Soul&display=swap');

h1{
    text-transform: uppercase;
    letter-spacing: 10px;
    font-size: 4 rem;
    color: rgb(29, 42, 158);
    text-shadow: 9px 3px 6px #274df3da;;
    text-align: center;
    font-family: 'Cinzel', sans-serif;
}
body{
    font-family: 'Cinzel', sans-serif;
                /* les background */
           background-color: rgb(212, 108, 108);
           height: 50vh
        
                     }
p{
    text-transform: uppercase;
    color: rgb(22, 65, 158);
}
